<div class="container">
  <h1>All Spaces</h1>
  <% @spaces.each do |space| %>
  <h4><%= space.title %></h4>
  <% end %>
  <%= link_to "Create new space", new_space_path, class: 'btn btn-primary' %>
</div>
