<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= image_path "banner.jpg" %>);">
  <div class="container">
    <div><%= image_tag "logo_KO.png", class: "landing-logo"  %></div>
    <h1><span data-controller="typed-js"></span></h1>
    <%= link_to "Find your space", spaces_path, class: "btn btn-ghost" %>
  </div>

</div>


<%#= link_to 'My listed spaces', my_spaces_path %>
<%#= link_to 'Spaces to let', spaces_path %>
<%#= link_to 'My bookings', bookings_path(@user) %>

<%#= need this last one to link to the user's bookings, not the owner's %>
<%#= link_to "Sign in", new_user_session_path %>
<%#= link_to "Sign out", destroy_user_session_path, method: :delete %>
